@charset "UTF-8";
body {
  background-color: #A3BCFF;
 
.img-container {
        text-align: center;
        display: block;
      }
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #FF2D2D;
  }


 
