@charset "UTF-8";
body {
  background-image: url("images/backgroundhome.png");
   font-family: "Aleo";
}
.img-container {
        text-align: center;
        display: block;
      }
nav {background-color: #5b5b5b;
width:90px;

}
ul.menu{
    background-color: #5b5b5b;
     font-family: "Aleo";
    color: white;
    border: 0px;
    list-style-type: none;
    text-align:left;
 /* margin: 1em;*/
  /*padding: 1em;*/
 overflow: hidden;
  /* display:inline;*/

}
ul.menu li {
background-color: #5b5b5b;
    display: inline;
   /* position: relative;*/
}
/*ul.menu li ul {

    display:none;
    
}
 ul.menu li:hover ul  {
 display: block;
 position:relative;
 float:left;
 /\*color: black;*\/
 }
 ul.menu li ul li {
     list-style-type:none;
     display:block;
     }
    
span.nav { padding:2em;
margin:0;
text-align: left;
}*/
ul.navbar{
    list-style-type:none;
     font-family: "Aleo";
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e727d;
    color: white;
    text-align: left;
    overflow: hidden;
}






li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
color: white;
background-color: #41434a;
}

li a, .dropbtn{
overflow: hidden;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: #6e727d;
    color: white;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    background-color:#6e727d;
        overflow: hidden;
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color:#41434a;
}
 li a  {
background-color: #5b5b5b;
  color: white;  
  text-align: center;
padding-left:2em;
padding-right: 2em;
  text-decoration: none;
  float: left;
     padding:1em;
}

li a:hover {
  background-color:black;
   padding:1em;
  
 
   
}
table {
   background-color: #454545;
   text-align: center;
   border-color:white;
    border: 1px solid white;
}


.myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd; 
  color:white;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
 }

table td{
   border-color:white;
    border: 1px solid grey;
}
td li{
    border-color:white;
    border: 1px solid grey;

}
 #searchbar{
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }
 
  #list{
    font-size:  1.5em;
    text-align: center;
   }
 
.tr{
   display: list-item;    
  } 
  
 
@font-face{
    font-family: "Aleo";
    src: url("aleo/Aleo-Regular.otf");
}

@font-face{
    font-family: "Jungle-Hope";
    src: url("jungle-hope/Jungle Hope Free Version.ttf");
}

h1{
    font-family: "Jungle-Hope";
    color: white;
	font-size: 3em;
	margin:auto;
	text-align: center;
	padding: .5em;
	background: black;
}
h2,p{
    font-family: "Aleo";
    color: white;
     text-align: center;
}

.image1{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 200px;
}
.image2{
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	width: 300px;
	
}

#gamelist { 	
display: flex;
  justify-content: center;
}
#cy {
     width: 65vw;
     height:100vh;
     position:absolute;
     margin:auto;
     border-style:double;
 }

div.content {
    padding: 2em;
    margin:auto;
    width: 100%;
}
tr {
    background-color:#5b5b5b;
    color: white;
}


